.tabContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
    height: 100%
}

.bookCoverContainer {
    border-radius: var(--border-radius-md);

}

.bookCover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--jet);
    transform: rotate3d(1, 1, 1, 10deg);
}

.buyButton {
    background-color: var(--pale-silver);
    color: var(--jet);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-md);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
    width: 100%;
}

.buyButton:hover {
    background-color: var(--jet);
    color: var(--pale-silver);
}