.buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--spacing-md);
	margin-top: var(--spacing-lg);
}

.button {
	display: flex;
	justify-content: center;
	gap: var(--spacing-md);
	align-items: center;
}

.button__desktop {
	display: block;
}

.button__mobile {
	display: none;
}

@media (max-width: 450px) {
	.buttons {
		flex-direction: row;
		gap: var(--spacing-sm);
		margin-top: var(--spacing-sm);
	}

	.button svg {
		display: none;
	}

	.button {
		font-size: var(--font-size-xs);
	}

	.button__mobile {
		display: block;
	}

	.button__desktop {
		display: none;
	}
}
