.titleContainer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	background-color: var(--jet);
	border-bottom: 1px solid var(--pale-silver);
}

.title {
	font-size: var(--font-size-xxl);
	text-align: center;
	color: white;
	font-family: "Garamond", serif;
	margin-top: 15px;
	margin-bottom: 5px;
}

.subtitle {
	font-size: var(--font-size-lg);
	text-align: center;
	text-transform: uppercase;
	color: var(--pale-silver);
	font-family: "Consolas", monospace;
}

.instructionsTab {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	max-width: 100%;
	margin-top: 100px;
}
