.examplePolydot {
    margin: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
    border-radius: 5px;
    background-color: var(--jet);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: var(--spacing-md);
    border: 1px solid var(--pale-silver);
    opacity: 0.9;
}

.examplePolydot h2 {
    font-size: 2rem;
    color: var(--pale-silver);
    margin: var(--spacing-md);
    font-family: 'Garamond', serif;
}

.examplePolydot p {
    font-size: 1rem;
    color: var(--pale-silver);
    margin: var(--spacing-md);
}

.polyDotdescription {
    font-size: 2rem;
    text-align: center;
    color: var(--pale-silver);
    font-family: 'Garamond', serif;
    font-style: italic;
    max-width: 500px;
}

.polyDotinstruction {
    font-family: 'Consolas', monospace;
    font-size: 1rem;
    color: var(--pale-silver);
}

.polyDotinstruction span {
    margin: var(--spacing-sm);
}

.description {
    font-size: 1rem;
    text-align: left;
    color: var(--pale-silver);
    max-width: 500px;
    border: 1px solid var(--jet);

}