.letters {
	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-size-lg);
	color: var(--pale-silver);
	margin-bottom: var(--spacing-md);
	transition: all 0.3s ease-in-out;
}

.letter {
	font-family: "Consolas", monospace;
	margin: var(--spacing-xxs);
}

.letterCurrent {
	color: var(--saturated-earth-yellow);
}

.letterPrevious {
	color: var(--saturated-myrtle-green);
}

@keyframes scaleUp {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.25);
	}

	100% {
		transform: scale(1);
	}
}

.letterNext {
	color: var(--saturated-mountbatten-pink);
	animation: scaleUp 1s ease-in-out forwards;
}

.letterFuture {
	color: var(--pale-silver);
}

.letterPast {
	color: var(--saturated-myrtle-green);
}

.colorIndicator {
	margin-left: var(--spacing-md);
}

.timeToColor {
	color: var(--saturated-earth-yellow);
}
