.coverTab {
    margin: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
    border-radius: 5px;
    background-color: var(--jet);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: var(--spacing-md);
    border: 1px solid var(--pale-silver);
    opacity: 0.9;


}

.bookCoverContainer {
    border-radius: 5px;
    /* border: 1px solid var(--pale-silver); */
}

.bookCover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid var(--jet);
    transform: rotate3d(1, 1, 1, 10deg);
}

.buyButton {
    background-color: var(--pale-silver);
    color: var(--jet);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.3s;
}

.buyButton:hover {
    background-color: var(--jet);
    color: var(--pale-silver);
}

.polyDotdescription {
    font-size: 2rem;
    text-align: center;
    color: var(--pale-silver);
    font-family: 'Garamond', serif;
    font-style: italic;
    max-width: 500px;
}

.title {
    font-size: 2rem;
    text-align: center;
    color: white;
    font-family: 'Garamond', serif;
}