.AnchorButton {
	color: var(--jet);
	text-decoration: none;
	background-color: var(--pale-silver);
	padding: var(--spacing-sm) var(--spacing-md);
	border-radius: var(--border-radius-md);
	border: none;
	cursor: pointer;
	font-size: var(--font-size-md);
	display: block;
	width: 100%;
	position: relative;
	box-shadow: 0 4px 15px rgba(63, 54, 57, 0.15);
	transition: all 0.3s ease;
}


.AnchorButtonShimmer {
	background: linear-gradient(-45deg,
			rgba(68, 121, 133, 0.803) 0%,
			rgba(54, 157, 180, 0.803) 50%,
			rgba(68, 121, 133, 0.803) 100%);

	background-size: 200% auto;
	animation: swayEffect 5s infinite;
	color: var(--saturated-earth-yellow);
}

@keyframes swayEffect {
	0% {
		opacity: 1;
		background-position-x: 100%;

	}

	50% {
		opacity: 1;
		background-position-x: 0%;
	}

	75% {
		opacity: 1;
		background-position-x: 90%;
	}

	100% {
		opacity: 1;
		background-position-x: 100%;
	}
}


.AnchorButton::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: rgba(68, 121, 133, 0.1);
	border-radius: inherit;
	box-shadow: 0 0 15px rgba(68, 121, 133, 0.5);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.AnchorButton:hover::before {
	opacity: 1;
	/* Glow becomes visible on hover */
}

.AnchorButton:hover {
	background-color: var(--myrtle-green);
	color: var(--pale-silver);
	text-shadow: 0 0 8px rgba(201, 201, 201, 0.8);
	box-shadow: 0 6px 20px rgba(68, 121, 133, 0.4);
	transition: all 0.3s ease;
	animation: none;

}

.AnchorButton:active {
	background-color: var(--myrtle-green);
	box-shadow: 0 0 20px var(--saturated-mountbatten-pink);
	transition: background-color 0.1s ease;
}