:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;


  /* Colors */
  --jet: #3f3639ff;
  --myrtle-green: rgb(68, 121, 133);
  --taupe-gray: #9a99a2ff;
  --mountbatten-pink: #8e6f80ff;
  --earth-yellow: #d9ae6aff;
  --pale-silver: #c9c9c9ff;
  --moon-white: #f0f0f0ff;

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;

  /* Border Radius */
  --border-radius-sm: 0.25rem;
  /* 4px */
  --border-radius-md: 0.5rem;
  /* 8px */
  --border-radius-lg: 1rem;
  /* 16px */

  /* Typography */
  --font-family-sans: Arial, sans-serif;
  --font-family-mono: ui-monospace, monospace;
  --base-font-size: 1rem;
  /* 16px */
  --heading-line-height: 1.2;
  --body-line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* Ensures consistent box sizing for all elements */
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
  line-height: 1.15;
  /* Improves text readability */
  -webkit-text-size-adjust: 100%;
  /* Prevents font scaling in landscape mode on mobile */
}

body {
  font-family: system-ui, sans-serif;
  /* Defaults to a reasonable sans-serif font */
  margin: 0;
  /* Removes default body margin */
  line-height: 1.6;
  /* Improves readability */
}

a {
  color: inherit;
  /* Inherit color from parent elements */
  text-decoration: none;
  /* Removes default underline */
}



button,
input,
select,
textarea {
  font: inherit;
  /* Ensures buttons and inputs use the same font as the body */
}


/* Typography */
body {
  font-family: var(--font-family-sans);
  font-size: var(--base-font-size);
  line-height: var(--body-line-height);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: var(--heading-line-height);
  margin-bottom: var(--spacing-sm);
  color: var(--moon-white);
}

h1 {
  font-size: 2.25rem;
  /* 36px */
}

h2 {
  font-size: 1.875rem;
  /* 30px */
}

h3 {
  font-size: 1.5rem;
  /* 24px */
}

h4 {
  font-size: 1.25rem;
  /* 20px */
}

h5 {
  font-size: 1.125rem;
  /* 18px */
}

h6 {
  font-size: 1rem;
  /* 16px */
}

p {
  margin-bottom: var(--spacing-md);
  color: var(--moon-white);
}

small {
  font-size: 0.875rem;
  /* 14px */
}

ul {
  list-style-type: none;
}

li {
  font-size: 1rem;
  font-style: italic;

}