.tabs {
	display: grid;
	flex-direction: column;
	justify-content: center;
}

.tab {
	margin: var(--spacing-lg);
	align-items: center;
	z-index: 10;
	border-radius: var(--border-radius-md);
	padding: var(--spacing-md);
	border: 1px solid var(--pale-silver);
	backdrop-filter: blur(5px);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	max-width: 40rem;
	min-height: calc(100vh - 300px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* first tab add margin */
.tab:first-child {
	margin-top: var(--spacing-xl);
}

.void {
	color: var(--pale-silver);
	font-size: var(--font-size-md);
	background-color: none;
	background: none;
	backdrop-filter: none;
	box-shadow: none;
	border: none;
	margin-top: 250px;
	line-height: 2;
}
