.canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--jet);
}

.mountainsFront {
    z-index: 1;
    position: fixed;
    bottom: 0px;
    left: 0;
    display: flex;
    width: 100%;
    transform: scaleX(1);
    height: 300px;
    filter: blur(1px);
    overflow: hidden;
}


.mountainsBack {
    position: fixed;
    bottom: 0px;
    transform: translateY(10px);
    width: 100%;
    z-index: 1;
    transform: scaleX(-1);
    height: 250px;
    filter: brightness(0.7) blur(2px);
    overflow: hidden;

}