.infoBox {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin: var(--spacing-lg);
}

.infoBox h1 {
	font-size: 2rem;
	margin-bottom: var(--spacing-sm);
	font-family: "Consolas", monospace;
}

.infoBox h2 {
	font-size: 1.5rem;
	font-family: "Consolas", monospace;
	font-weight: 300;
}
