.polyDotdescription {
    font-size: 2rem;
    text-align: center;
    color: var(--pale-silver);
    font-family: 'Garamond', serif;
    font-style: italic;
    max-width: 500px;
}

.title {
    font-size: 2rem;
    text-align: center;
    color: white;
    font-family: 'Garamond', serif;
}